
    <section class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h2>BMI Calculator</h2>
          <h3>Calculate your BMI</h3>
          <h4>Height in cm</h4>
          <input ng-model="height">
          <br>
          <h4>Weight in kg</h4>
          <input ng-model="weight">
          <br>
          <button class="btn btn-primary" ng-click="calculateBMI">Calculate</button>
          <p ng-bind="calculate">
          </p>
        </div>
      </div>
    </section>  